<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rechercher un(e) babysitter</title>
</head>
<body>
    <form method="post" action="/results/">
        {% csrf_token %}
        <label for="Rechercher un(e) babysitter">Recherchez un(e) babysitter !</label>
        <div style="margin: 10px 0;">
            {{ forms.form_name.label }} : {{ forms.form_name }} <br>
            {{ forms.form_age_target.label }} : {{ forms.form_age_target }} <br>
            {{ forms.form_time_target.label }} : {{ forms.form_time_target }} <br>
            {{ forms.form_location.label }} : {{ forms.form_location }} <br>
        </div>
        <input type="submit" value="Rechercher">
    </form>
</body>
</html>