{% extends "base/base_generic.html" %}

{% block title %}Accueil{% endblock title %}

{% block banner %}
	<section class="Banner">
		<div class="Banner-container grid-container">
			<h1>Trouvez un(e) babysitter près de chez vous !</h1>
		</div>
	</section>
{% endblock %}
{% block content %}
	<section class="Search">
		<div class="Search-container grid-container">
			<form action="/results/" method="post">
				{% csrf_token %}
				<div class="grid-x grid-margin-x" style="margin: 10px 0;">
					{{ search_form.as_p }}
				</div>
				<input class="Bouton button success" type="submit" value="Rechercher">
			</form>
		</div>
	</section>
	<section class="Welcome">
		<div class="Welcome-container grid-container text-justify">
			<div class="Welcome-part-one grid-x grid-margin-x">
				{% load static %}
				<img class="cell medium-shrink small-12" src="{% static 'img/search.png' %}">
				<div class="cell medium-auto small-12">
					<h2>Recherchez le babysitter qui vous convient.</h2>
					<p>Grâce à ce site, vous avez acces à toute une base de données de
						babysitters prêts à vous proposer leurs services. À tout moment,
						et à toute heure de la journée.
						Choisissez celui qui correspond à votre planning.</p>
				</div>
			</div>
			<div class="Welcome-part-two grid-x small-up-1 medium-up-3 large-up-5">
				{% load static %}
				<img class="cell medium-shrink small-12" src="{% static 'img/meet.png' %}">
				<div class="cell medium-auto small-12">
					<h2>Prenez contact avec votre babysitter.</h2>
					<p>Vous pouvez contacter les babysitters à tout moment via leur numéro
						de téléphone, leur linkedin, ou bien leur viadeo.
						Proposez-leur le service demandé ainsi qu'un rendez-vous !</p>
				</div>
			</div>
			<div class="Welcome-part-three grid-x">
				{% load static %}
				<img class="cell medium-shrink small-12" src="{% static 'img/baby.png' %}">
				<div class="cell medium-auto small-12">
					<h2>Laissez le babysitter prendre le relais.</h2>
					<p>Laissez le babysitter prendre soin de votre enfant. Rassurez-vous ! Il
						sera toujours là et en bonne santé lorsque vous reviendrez de votre
						rendez-vous.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}