{% extends 'base/base_generic.html'%}

{% block title %}Changement de mot de passe{% endblock title %}

{% block content %}
    <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        <div>
		<div>
            {{ form.old_password.label_tag }}
        <br/>
            {{ form.old_password }}
        </div>
        <br/>
        <div>
            {{ form.new_password1.label_tag }}
        <br/>
            {{ form.new_password1 }}
        </div>
        <br/>
        <div>
            {{ form.new_password2.label_tag }}
        <br/>
            {{ form.new_password2 }}
        </div>
        </div>
        <br/>
        <input class="button success" type="submit" value="Valider">
    </form>
{% endblock %}